{% extends 'base.html' %} <!-- estrutura do base.html (navbar,footer,css) -->

{% block title %}Cadastro{% endblock %} <!-- define o título da aba -->

{% block content %} <!-- main do base.html -->

<div class="form-container">

    <h1>Criar conta</h1>

    {% if messages %} <!-- se tiver mensagem de erro ou sucesso guardada, mostra na tela -->
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST"> <!-- formulário que envia os dados via POST para a view cadastro -->
        {% csrf_token %} <!-- proteção obrigatória -->

        <div class="form-grupo">
            <label>Usuário</label>
            <input type="text" name="username"> <!-- é o nome pego na view com o request.POST.get -->
        </div>

        <div class="form-grupo">
            <label>Telefone</label>
            <input type="text" name="telefone">
        </div>

        <div class="form-grupo">
            <label>Senha</label>
            <input type="password" name="password">
        </div>

        <div class="form-grupo">
            <label>Confirmar senha</label>
            <input type="password" name="password_confirm">
        </div>

        <button type="submit" class="btn-submit">Cadastrar</button> <!-- envia o formulário -->
        
    </form>

    <p class="form-link">Já tem conta? <a href="{% url 'login' %}">Faça login</a></p> <!-- link que usa o apelido 'login' definido no urls.py -->

</div>

{% endblock %}