{% extends 'base.html' %} <!-- estrutura do base.html (navbar,footer,css) -->

{% block title %}Login{% endblock %} <!-- define o título da aba -->

{% block content %} <!-- main do base.html -->

<div class="form-container">

    <h1>Entrar</h1>

    {% if messages %} <!-- se tiver mensagem de erro ou sucesso guardada, mostra na tela -->
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST"> <!-- formulário que envia os dados via POST para a view cadastro -->
        {% csrf_token %} <!-- proteção obrigatória contra ataques — sem isso Django rejeita -->

        <div class="form-grupo">
            <label>Usuário</label>
            <input type="text" name="username">
        </div>

        <div class="form-grupo">
            <label>Senha</label>
            <input type="password" name="password">
        </div>

        <button type="submit" class="btn-submit">Entrar</button>

    </form>

    <p class="form-link">Não tem conta? <a href="{% url 'cadastro' %}">Cadastre</a></p> <!-- link para cadastro usando apelido definido no urls.py -->

</div>

{% endblock %}