{% extends 'base.html' %} <!-- estrutura do base.html (navbar,footer,css) -->

{% block title %}Cardápio{% endblock %} <!-- title do base.html -->

{% block content %} <!-- main do base.html -->

    <h1>Menu de doces do dia</h1>

    <div class="grid-produtos">

        {% for produto in produtos %}
            <div class="card-produto"> <!-- div que vai receber o estilo CSS do card -->
                <img src="{{ produto.imagem.url }}" alt="{{produto.nome}}">
                <div class="card-body">
                    <h2>{{produto.nome}}</h2>
                    <p>{{produto.descricao}}</p>
                    <p class="preco">{{produto.preco_formatado}}</p>
                    <div class="card-acoes">
                        <a href="{% url 'diminuir_quantidade' produto.id %}" class="btn-qtd-home">−</a>
                        <span class="qtd-carrinho" id="qtd-{{ produto.id }}">{{ produto.quantidade_carrinho }}</span>
                        <a href="{% url 'aumentar_quantidade' produto.id %}" class="btn-qtd-home">+</a>
                        <a href="{% url 'adicionar_ao_carrinho' produto.id %}" class="btn-adicionar">Adicionar</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
